[Unit]
Description=mqttconnector
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/python /home/pi/mqttconnector/mqttconnector.py

[Install]
WantedBy=multi-user.target

