[mqtt]
broker_address=_broker_hostname_or_ip_address_
port=1883
user=_broker_username_
password=_broker_password_
client_id=mqttconnector
path_connector=/home/pi/mqttconnector/
subtopic_command=command
subtopic_result=result

[pigarden]
enabled=1
host=_pigarden_socket_server_hostname_or_ip_addres_
port=_pigarden_socket_server_port_
exec_command=exec_cmd2sck.sh
user=_pigarden_socket_server_username_
pwd=_pigarden_socket_server_password_
topic=pigarden
result_enable=0
topic_result_qos=0
topic_result_retain=1

ble_bridge_mqtt_sensor= Mi_Flora;tele/ble_bridge/SENSOR;Flora6c7723;Moisture;Temperature;Illuminance;Fertility
			Mi_Flora2;tele/ble_bridge/SENSOR;Flora6c7853;Moisture;Temperature;Illuminance;Fertility

[piguardian]
enabled=1
host=_piguardian_socket_server_hostname_or_ip_addres_
port=_piguardian_socket_server_port_
exec_command=exec_cmd2sck.sh
user=_piguardian_socket_server_username_
pwd=_piguardian_socket_server_password_
result_enable=0
topic=piguardian
topic_result_qos=0
topic_result_retain=1

perimetral_mqtt_sensor= PORTA_PRINCIPALE;stat/guardsensor/POWER1;ON;OFF
			PORTA_GARAGE;stat/guardsensor/POWER2;ON;OFF
			PORTA_DI_SERVIZIO;stat/guardsensor/POWER3;ON;OFF
pir_mqtt_sensor=	CUCINA;stat/guardsensor/POWER4;OFF;ON
			INGRESSO;stat/guardsensor/POWER5;OFF;ON
tamper_mqtt_sensor=	CUCINA;stat/guardsensor/POWER4;OFF;ON
			INGRESSO;stat/guardsensor/POWER5;OFF;ON

